<!DOCTYPE html>
<html>
<head>
	<title></title>
</head>
<body>
	<main id="container">
		<h1>Welcome to your new app</h1>
	</main>
	<script type="text/html" id="image-template">
		<div>
			<img src="<%= image %>">
			<div><%= caption %></div>
		</div>
	</script>
	<script type="text/javascript" src="node_modules/jquery/dist/jquery.min.js"></script>
	<script type="text/javascript" src="node_modules/backbone/node_modules/underscore/underscore-min.js"></script>
	<script type="text/javascript" src="node_modules/backbone/backbone-min.js"></script>
	<script type="text/javascript" src="scripts/main.js"></script>
</body>
</html>