nav {
	float: left;
	margin-right: 2em;
}
nav a {
	display: block;
	padding: 0.5em 0.75em;
}

.active {
	background: yellow;
}


main {
	float: left;
	width: 30em;
}

main section {
	display: none;
}

.tabs, .form {
	overflow: hidden;
	clear: both;
}