.example {
	height: 200px;
	background: #ccc url(cat.png);
	background-repeat: no-repeat;
	background-position: center;
	padding: 40px 20px 4px;
	margin-bottom: 10px;
	width: 400px;
	border: 3px dashed teal;
}

.child {
	height: 200px;
	background: blue;
/*	border: 30px dashed red; */
	width: 100%;
	color: #fff;
	font-size: 24px;
	opacity: 0.3;
/*	padding: 16px;
*/}